{
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.sol",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
