*                                      @montyly
/src/development-guidelines/           @0xicingdeath
/src/program-analysis/echidna/         @ggrieco-tob
/src/not-so-smart-contracts/algorand/  @S3v3ru5
/src/not-so-smart-contracts/cairo/     @technovision99
/src/not-so-smart-contracts/cosmos/    @GrosQuildu
/src/not-so-smart-contracts/substrate/ @0xicingdeath
/src/learn_evm/                        @bohendo
