*                                  @montyly
/development-guidelines/           @0xicingdeath 
/program-analysis/echidna/         @ggrieco-tob
/not-so-smart-contracts/algorand/  @S3v3ru5
/not-so-smart-contracts/cairo/     @technovision99 
/not-so-smart-contracts/cosmos/    @GrosQuildu 
/not-so-smart-contracts/substrate/ @0xicingdeath 
/learn_evm/                        @bohendo
