.sidebar .sidebar-scrollbox .sidebar-book-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: max-content;
}

/* program-analysis/echidna/configuration.md */
h1#configuration-options ~ div > table {
  margin: 0;
}
